@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["current"] = "ghar";

}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card_header_add">
            <strong>Add Blood to Blood Bank</strong>
            <small> Form</small>
        </div>
        <form method="post">
            <div class="card-body card-block">

                <div class="row form-group">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="select" class=" form-control-label">Please Select Bloog Group</label>
                            <select asp-items="ViewBag.bloods" name="bloodStockBlood" id="select" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="blood_group_stock_quantity" class=" form-control-label">Blood Group Quantity</label>
                            <input type="number" id="blood_group_stock_quantity" name="bloodStockQuantity" placeholder="Quantity" class="form-control">
                        </div>
                    </div>
                </div>
                <h4></h4>


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" name="submit_quantity">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
        <div class="container">
            @{
                    var a = ViewBag.msg;
                    if (a != null)
                    {
                        var clas = a.error == true ? "danger" : "success";
                    <div class="alert alert-@clas" role="alert">
                        <span class="alert-link">
                            @a.msg
                        </span>
                    </div>
                }
            }
            
        </div>
    </div>

    <!-- Form div end -->

    <div class="card">
        <div class="card-header card_header_add">
            <strong>Blood Bank Stock</strong>
            <small> @ViewBag.hospital.fullname</small>
        </div>
        <div class="card-body card-block">
          
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2 table_stock">
                    <thead>
                        <tr class="bg-danger table_stock_header">

                            <th>Blood Group</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blo in ViewBag.bloodstocks)
                        {
                        <tr class="tr-shadow">
                            <td>@blo.bloodGroupName</td>
                            <td>@blo.bloodStockQuantity</td>
                            <td>
                                <div class="data_table_icons">

                                    <a href="#edit_blood_stock_@blo.id" data-toggle="modal" data-target="#edit_blood_stock_@blo.id">
                                        <button class="item" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </a>

                                    <div class="modal fade" style="top:unset !important" id="edit_blood_stock_@blo.id" tabindex="2" role="dialog" aria-hidden="false">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="mediumModalLabel">Update Blood Stock</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form method="post">
                                                    <div class="modal-body">
                                                        <h1>Update Blood Stock</h1><br>

                                                        <h4>Current Blood Stock</h4>
                                                        <input type="number" disabled>

                                                        <h4>Update quantity of Blood Stock</h4><br>
                                                        <p>Enter New Value Here</p> <input type="number" id="new_quanity_@blo.id" style="background:#e5e5e5" placeholder="Enter New Value Here" name="new_quanity" value="@blo.bloodStockQuantity">

                                                    </div>
                                                    <div class="modal-footer bg-success">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="button" name="updt_quan" onclick="updateQUant(@blo.id)" class="btn btn-primary">Confirm</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <button class="item" onclick="DeleteQUant(@blo.id)" id="blood_group_stock_delete" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>


                                </div>
                            </td>
                        </tr>
                            <tr class="spacer"></tr>
                        }
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</div>

<script>
    function updateQUant(bloodStockId) {
        var neqQuantity = document.getElementById(`new_quanity_${bloodStockId}`).value;
        if (neqQuantity) {
            neqQuantity = parseInt(neqQuantity);
            $.ajax({
                url: "/Hospital/UpdateBloodQuan?bloodStockId=" + bloodStockId + "&neqQuantity=" + neqQuantity,
                method: "PUT",
                success: function (r) {
                    alert(r.message);
                    $('#edit_blood_stock_' + bloodStockId).modal('hide');
                    window.location.reload();
                },
                error: function (e) {
                    if (e?.responseJSON?.message) {
                        alert(e?.responseJSON?.message);

                    }
                }
            })
        }
    }
    function DeleteQUant(bloodStockId) {
        var i = confirm("Do you really want to delete");
        if (i) {
            $.ajax({
                url: "/Hospital/DeleteBloodQuan?bloodStockId=" + bloodStockId,
                method: "DELETE",
                success: function (r) {
                    alert(r.message);
                    window.location.reload();
                },
                error: function (e) {
                    if (e?.responseJSON?.message) {
                        alert(e?.responseJSON?.message);

                    }
                }
            })
        }
    }
</script>